*{
	
	margin:0px;
	padding:0px;
	font-family:sans-serif;
	background-image: url("http:/localhost/Akshay/Admission/452983967.jpg");
}
#sidebar{
	position:fixed;
	width:230px;
	height:100%;
	background:#151719;
}


#sidebar ul li{
	color:rgba(231,231,230,0.9);
	list-style:bold;
	padding:15px  10px;
	border-bottom: 1px solid rgba(100,100,100,0.3);
}



